###################################################     NEVERMORE.CFG     #################################################
##################               LDO Voron 2.4R2 (Rev.C) 350mmx350mmx350mm w/ input shaping               #################
##################               LDO SERIAL# V2-2312212758                                                #################
##################               CONFIGURED BY CODY S. MACLEAN FOR VECTOR INNOVATION CORP                 #################
##################               SPECIAL THANKS TO THE VORON & KLIPPER COMMUNITY!                         #################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
########################################################------------#######################################################
###############################################--------#############----------#############################################
##########################################----#############################--------########################################
######################################---#######################################------###-#################################
###################################--###############################################-----###-##############################
################################--######################--------------#################-----##--###########################
#############################--####################----############-------##--############----###-#########################
###########################--##################---#####################-----###--###########-----##-#######################
#########################--##################--###########################-----##--############--#-#--#####################
#######################--##################-#################################--##-#--############-##-#--###################
######################-##################--####################################--#--#-############--##-#-##################
####################--#################--#######---#######################--#####-##---#############-##----################
###################-##################--#########----######################---####-##---#############--#----###############
##################=##################--#####-##-####--################-##-####--###-##=--##############-#--#-##############
#################=################-##=######-######-##################-#####--######-##=#-##############-#----#############
################=###################=#######-######-##################-#####-########-#=-################-#-=#-############
###############=#################-##=#######-######-#################-#####--########-##=#################-#-=#-###########
##############=##################-#--########-#####--################-#####-############=##################-#=--###########
###########-#--##################-#=-########-######-###############-#####--############=##################-##=#-##########
#############=###################-#=-#########-#####--##############-#####-#############=###################-#--###########
##########-#--###################-#-=#########-######--#-##########-#####--#############=###################-##=###########
############=####################-##=##########-######-############-####--###########-#--####################-#=-##########
#########-##=#####################-#-=#-########-######-#-########-#####-##############=#####################-#-=##########
#########-#--#####################--#=--########--#####--#-######-##-##-##############=-#####################-##=##########
#########-#--######################-##---########--#####--#-####-##-##-##############--#########################=##########
###########=-#######################-##----#######-######--#-##-##-##-##############--##########################=##########
#########-#=-########################--#--#-#######-######---=-##-##-##############-############################=##########
#########-#--##########################-##-#--######-##########-###-#############--#############################=##########
#########-#-=###########################--##-##--####--###########-############--###############################=##########
#########-##=##############################-#--#---###--########--##########---##############################-#-=##########
############=-###############################----#######----############----###################################=###########
##########-#-=##############################################################################################-##=###########
#############=-###############################################################################################=-###########
###########-#-=#-##########################################################################################-##=############
############-#--#-#########################################################--################################=#############
############-##---############################-##----####################----###############################=-#############
#############-##=--############################-------------------------###################################--##############
##############-##---######################################################################################--###############
###############-##----###################################################################################--################
################--#--#-####################################################--###########################-##################
##################-##-#-######################-##---#####################----#########################--###################
###################-##--#-#####################------------------------##############################--####################
#####################-##-#--#######################################################################--######################
######################--#--##-###################################################################--########################
########################--#-###-###############################################################--##########################
##########################--#--##--################################----######################--############################
#############################-----###################---------------######################--###############################
###############################------#################-################################---#################################
###################################-------#########################################---#####################################
#######################################----------#############################----#########################################
#############################################------------###########---------##############################################
#########################################################---------#########################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################

###########################################################################################################################
#    Nevermore control 
###########################################################################################################################
[gcode_macro NEVERMORE_ON]
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=1.0 ;nevermore filter
    {action_respond_info("Nevermore On") }

[gcode_macro NEVERMORE_OFF]
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0 ;nevermore filter
    {action_respond_info("Nevermore Off") }

[gcode_macro NEVERMORE_SLOW]
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0.15 ;nevermore filter
    {action_respond_info("Nevermore Slow") }

[delayed_gcode DELAYED_NEVERMORE_OFF]
gcode:
 NEVERMORE