###############################################     Z_THERMAL_ADJUST.CFG     ##############################################
##################               LDO Voron 2.4R2 (Rev.C) 350mmx350mmx350mm w/ input shaping               #################
##################               LDO SERIAL# V2-2312212758                                                #################
##################               CONFIGURED BY CODY S. MACLEAN FOR VECTOR INNOVATION CORP                 #################
##################               SPECIAL THANKS TO THE VORON & KLIPPER COMMUNITY!                         #################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
########################################################------------#######################################################
###############################################--------#############----------#############################################
##########################################----#############################--------########################################
######################################---#######################################------###-#################################
###################################--###############################################-----###-##############################
################################--######################--------------#################-----##--###########################
#############################--####################----############-------##--############----###-#########################
###########################--##################---#####################-----###--###########-----##-#######################
#########################--##################--###########################-----##--############--#-#--#####################
#######################--##################-#################################--##-#--############-##-#--###################
######################-##################--####################################--#--#-############--##-#-##################
####################--#################--#######---#######################--#####-##---#############-##----################
###################-##################--#########----######################---####-##---#############--#----###############
##################=##################--#####-##-####--################-##-####--###-##=--##############-#--#-##############
#################=################-##=######-######-##################-#####--######-##=#-##############-#----#############
################=###################=#######-######-##################-#####-########-#=-################-#-=#-############
###############=#################-##=#######-######-#################-#####--########-##=#################-#-=#-###########
##############=##################-#--########-#####--################-#####-############=##################-#=--###########
###########-#--##################-#=-########-######-###############-#####--############=##################-##=#-##########
#############=###################-#=-#########-#####--##############-#####-#############=###################-#--###########
##########-#--###################-#-=#########-######--#-##########-#####--#############=###################-##=###########
############=####################-##=##########-######-############-####--###########-#--####################-#=-##########
#########-##=#####################-#-=#-########-######-#-########-#####-##############=#####################-#-=##########
#########-#--#####################--#=--########--#####--#-######-##-##-##############=-#####################-##=##########
#########-#--######################-##---########--#####--#-####-##-##-##############--#########################=##########
###########=-#######################-##----#######-######--#-##-##-##-##############--##########################=##########
#########-#=-########################--#--#-#######-######---=-##-##-##############-############################=##########
#########-#--##########################-##-#--######-##########-###-#############--#############################=##########
#########-#-=###########################--##-##--####--###########-############--###############################=##########
#########-##=##############################-#--#---###--########--##########---##############################-#-=##########
############=-###############################----#######----############----###################################=###########
##########-#-=##############################################################################################-##=###########
#############=-###############################################################################################=-###########
###########-#-=#-##########################################################################################-##=############
############-#--#-#########################################################--################################=#############
############-##---############################-##----####################----###############################=-#############
#############-##=--############################-------------------------###################################--##############
##############-##---######################################################################################--###############
###############-##----###################################################################################--################
################--#--#-####################################################--###########################-##################
##################-##-#-######################-##---#####################----#########################--###################
###################-##--#-#####################------------------------##############################--####################
#####################-##-#--#######################################################################--######################
######################--#--##-###################################################################--########################
########################--#-###-###############################################################--##########################
##########################--#--##--################################----######################--############################
#############################-----###################---------------######################--###############################
###############################------#################-################################---#################################
###################################-------#########################################---#####################################
#######################################----------#############################----#########################################
#############################################------------###########---------##############################################
#########################################################---------#########################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################

###########################################################################################################################
#     ADAPT BED MESH FOR CHANGES IN TEMP
#     CODY: Senesore need to be adding in the frame for this.
###########################################################################################################################
[z_thermal_adjust]                                    #Eneables the Z-Thermal Adjust function
temp_coeff: 0
#   The temperature coefficient of expansion, in mm/degC. For example, a
#   temp_coeff of 0.01 mm/degC will move the Z axis downwards by 0.01 mm for
#   every degree Celsius that the temperature sensor increases. Defaults to
#   0.0 mm/degC, which applies no adjustment.
smooth_time: 2.0
#   Smoothing window applied to the temperature sensor, in seconds. Can reduce
#   motor noise from excessive small corrections in response to sensor noise.
#   The default is 2.0 seconds.
z_adjust_off_above: 99999999.0
#   Disables adjustments above this Z height [mm]. The last computed correction
#   will remain applied until the toolhead moves below the specified Z height
#   again. The default is 99999999.0 mm (always on).
max_z_adjustment: 99999999.0
#   Maximum absolute adjustment that can be applied to the Z axis [mm]. The
#   default is 99999999.0 mm (unlimited).
#sensor_type:
#sensor_pin:
#min_temp:
#max_temp:
#   Temperature sensor configuration.
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.